#bloque_principal{
    display: flex;
    flex-direction: row-reverse;
}

#bloque_principal h1{
    font-size: 1.5em;
}
#infos_personnelles{
    margin-right: 5%;
    align-items: center;
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#photo{
    margin-left: 22%;
}

#infos_personnelles h1{
    width: 60vh;
    text-align: center;
}

#infos_complementaires li{
    margin-left: -25px;
    list-style: none;
}

#bouton{
    align-self: flex-end;
    padding-bottom: 0px;
}
h1{
    text-align: center;
}