.Footer {
    display : table;
    width: 100%;
    margin: 0; padding: 0;
    margin-top: 20px;
    padding-top: 20px;
}

footer {
    position: relative;
    color: white;
    display: flex;
    bottom : 0;
    width : 100%;
    flex-direction: row;
    margin-top : 50px;
    justify-content: flex-end;
    align-items: center;
    background-color: #223150;
    height: 15vh;
    min-height: 70px;
}

footer li {
    list-style: none;
}

footer ul {
    padding-right: 5%;
    margin-top: -5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:active{
    color: grey;
}

footer h3{
    padding-top: 3%;
    font-size: 0.9em;
}

footer #bloc_réseaux_sociaux{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

footer #autre{
    display: flex;
    justify-content: space-between;
    width: 30%;
}