<html>
<head>
    <title>Edit your profile</title>
    <link rel="stylesheet" href="styleEYPAdmin.css"/>
</head>
<body>
<ul>
    <header>
        Edit Your Profile
    </header>
    <FORM>
        <li>
            <h1 class="ZoneTexte">Name</h1>
            <input type="text" name="Name">
        </li>
        <li>
            <h1 class="ZoneTexte">E-mail Adress</h1>
            <input type="email" name="EmailAdress">
        </li>
        <li>
            <h1 class="ZoneTexte">Password</h1>
            <input type="text" name="Password">
        </li>
        <li>
            <h1 class="ZoneTexte">Confirm Password</h1>
            <input type="password" name="ConfirmPassword">
        </li>
        <div class="BasDePage">
            <div class="EspVide"></div>
            <div class="EspVide"></div>
            <button class="boutonBDP">Edit</button>
            <div class="EspVide"></div>
            <button class="boutonBDP">Capteurs</button>
        </div>
    </FORM>
</ul>
</body>
</html>
