.titre1
{
	text-align: center;
padding-top: 50px;
}
.firstI{
	width: 50%;
	border-radius: 50px;
	outline: none;
}
.secondI{
	width: 50%;
	border-radius: 5px;
	height: 400px;
	outline: none;
}
.dataname{
	margin-left: 20%;

}